[workspace]
[package]
name = "read_vec"
version = "0.0.0"
edition = "2021"

[dependencies]
womir-guest-io = { path = "../../guest-io" }

[profile.release-with-debug]
inherits = "release"
debug = true

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"
